---
import Logo from "./SVG/Logo.astro";
---

<header>
  <div class="nav-wrapper">
    <div class="logo-wrapper">
      <a href="/">
        <Logo color="var(--clr-background)"/>
      </a>
    </div>
    <nav>
      <ul class="primary-nav">
        <li class="nav-item" id="nav-home">
          <a href="/">Return to homepage</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    padding: 0.5rem var(--header-padding-inline);
    background-color: var(--clr-primary);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    user-select: none;
    transition:
      transform 0.5s ease-in-out 0.1s,
      box-shadow 0.5s ease-in-out 0.1s;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }

  header a {
    text-decoration: unset;
    color: unset;
    padding: 0.75rem 0.5rem;
    display: block;
  }
  a:hover {
    filter: unset;
  }

  .primary-nav {
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-item {
    position: relative;
    cursor: pointer;
    border-radius: 0.375rem;
    font-size: var(--fs-400);
    color: var(--clr-background);
  }
  .nav-item:hover {
    text-decoration: underline;
  }
  .nav-item:hover {
    transform: translate(1px, -2px);
  }

  .logo-wrapper,
  .nav-toggle-button {
    height: 64px;
    width: 64px;
  }
</style>