<section id="timeline" class="timeline section">
  <div class="section-header fade-in">
    <h2>Timeline</h2>
    <p>
      Life is not one, but many journeys. Here are some of the paths I have
      traveled and continue to explore.
    </p>
  </div>
  <div class="content">
    <ol>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>Jan. 2025</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/mullenlowe.webp" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">
            Web Developer Internship @ <a
              href="https://china.mullenlowe.com"
              target="_blank">Mullenlowe</a
            >
          </h3>
          <p class="timeline-content">
            I worked as a web developer intern at MullenLowe China, where I
            participated in several projects encompassing frontend and backend
            development, as well as quality assurance. This role allowed me to
            gain hands-on experience in various aspects of web development,
            contributing to the successful delivery of projects.
          </p>
        </div>
      </li><li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>Sept. 2024 till now</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/hloc.webp" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">Visual Localization UROP</h3>
          <p class="timeline-content">
            This is a continuation of my previous UROP project with Prof.
            Triatan BRAUD. I worked on a real-time visual localization system
            for the remote rendering AR. The system is designed to be robust to
            various lighting conditions and camera movements in long-term. I
            utilized Hierarchical Localization (HLoc) to calculate the camera
            pose while maintaining a Structured From Motion (SFM) database of
            the 3D scene.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>Jul. 2024 till now</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/gmai.webp" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">Medical MLLM FYP</h3>
          <p class="timeline-content">
            During my Final Year Project (FYP), I collaborated with three fellow
            students to enhance the performance of the Medical Language Model
            (MLLM) under the guidance of esteemed supervisors: Prof. Hao Chen,
            PhD. Sunan He, and PhD. Yuxiang Nie.. Our approach involved
            developing a comprehensive dataset that included both medical texts
            and images, alongside creating a robust Retrieval-Augmented
            Generation (RAG) system. My job maily focused on the dataset
            generation and evaluation part, in which I downloaded over eight
            million medical webpges from the internet and parsed them into the
            dataset.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>Jun. 2024 - Feb. 2025</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/sportopia.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">
            Software Engineering Internship @ <a
              href="https://sportopia.io"
              target="_blank">Sportopia</a
            >
          </h3>
          <p class="timeline-content">
            During my internship, I worked as a full stack developer to create
            the compan's website and backend system with AWS Amplify. I also
            developed a RAG Chatbot system for Sportopia using LangChain and
            ChatGPT. In addition, I joined the development of the company's
            product "Gamified Square", designed the articheture of the control
            system and the hardware interface.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>Jan. - May. 2024</p>
        </div>
        <div class="timeline-img">
          <img
            src="/imgs/timeline/UniversityOfWaterloo_logo.svg"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">University of Waterloo Exchange</h3>
          <p class="timeline-content">
            I stydied at the University of Waterloo for a semester as an
            exchange student under the Faculty of Mathematics. I took my
            Algrithms and Operating Systems courses there. In the end, I earned
            an overall grade of A+.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>2023 till now</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/U.png" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">Triple Uni Frontend Developer</h3>
          <p class="timeline-content">
            Triple Uni is a anonomous social media platform exclusive to
            university students at HKU, CUHK and HKUST. We have both a
            <a href="https://tripleuni.com/home" class="link" target="_blank"
              >webapp</a
            >
            and a WeChat applet public to access. I am responsible for the frontend
            development. I have built the homepage for our webapp and held many events.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>Jun. - Dec. 2023</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/unity.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">AR Metaverse UROP</h3>
          <p class="timeline-content">
            Followed Prof. Triatan BRAUD to join the HKUST Undergraduarte Rearch
            Oppotunities Program (UROP). Using Unity 3D to make AR projects.
            Build a Unity3D to Swift bridge to allow communication between Unity
            and WatchOS.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>2022 - 2025</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/scholarship.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">
            Mr. & Mrs Poon Kuen Seng Memorial Scholarship
          </h3>
          <p class="timeline-content">
            "Mr. & Mrs Poon Kuen Seng Memorial Scholarship was established since
            2017 to award students who have outstanding academic achievements.
            Each year, 2 new awardees will be selected from the new Year 2 CSE
            students, and this scholarship is renewable until their final year
            of studies." &Tab; --Scholarship Description
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>2022 - 2023</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/hkust.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">CSE Dept. UGTA</h3>
          <p class="timeline-content">
            Worked for 2 semesters as UG Teaching Assistance (UGTA) under the
            supervision of Prof. Desmond TSOI for the course COMP 2211 Exploring
            Artificial Intelligence. Tasks include Lab Tasks and Programming
            Assignments preparation and review, Lab teaching and questions
            answering.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>2021 till now</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/saga.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">SAGA - IT Dept. Leader</h3>
          <p class="timeline-content">
            SAGA is a charity organization that provides online education to
            elementary students afflicted with leukemia. My present undertakings
            include developing a website for the organization and creating a
            server for day-to-day administrative operations. Additionally, we
            are collaborating with Tencent to build a online platform that
            caters to the psychological well-being of those children. You can
            visit the website I built at
            <a
              class="link"
              href="http://github.saga-xingguang.com"
              target="_blank">HERE</a
            >.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>2021 - 2025</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/hkust.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">HKUST UG</h3>
          <p class="timeline-content">
            This is where I live and learn currently. With a major in CS and
            MATH. I have taken cources including OOP Programming, Computer
            Organization, Linear Algebra, Discrete Math, Statistics,
            Cybersecurity, Machine Learning, etc. I am expecting to attain a
            first-class honors upon graduation.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>2021 - 2022</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/scholarship.svg" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">
            Professor Wilson Tang Engineering Scholarship
          </h3>
          <p class="timeline-content">
            Admissions Scholarship for UG Students admitted in 2021/22
          </p>
          <br />
          <p class="timeline-content">
            "For students of the School of Engineering with outstanding academic
            performance."&Tab;--Scholarship Description
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>June 2021</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/shsid.png" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">SHSID Graduate</h3>
          <p class="timeline-content">
            Finished my 4-year-long high school life in Shanghai High School
            International Division, during which I earned an AP deploma with
            Calculus AB, Physics I&II, Computer Science A, Micro&Macro
            economics. I am also a member of the school's volleyball team, which
            has triumphed in numerous tournaments.
          </p>
        </div>
      </li>
      <li class="timeline-item timeline-animation">
        <div class="timeline-date">
          <p>April 2021</p>
        </div>
        <div class="timeline-img">
          <img src="/imgs/timeline/applet.webp" alt="" loading="lazy" />
        </div>
        <div class="timeline-text">
          <h3 class="timeline-header">
            "<span lang="zh-cmn-Hans">上中饭</span>" Wechat Applet
          </h3>
          <p class="timeline-content">
            This is a online lunch ordering system made for my high school to
            alleviate the issue of lengthy queues during the lunch hour.
            Students can login, view this week's menu, place order online and
            see their past orders. I utilized WXML, WXSS, and JS to construct
            the frontend, and used WeChat platform's database and serverless
            functions to build the backend.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>

<style>
  .timeline {
    --_img-size: 5rem;
    --_timeline-padding-inline: 1rem;
  }
  .content {
    position: relative;
    padding: 2rem var(--_timeline-padding-inline);
  }

  .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    transform: translate(-50%);
    background: var(--clr-text--muted);
    border-radius: 1rem;
    z-index: -1;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }

  .timeline-item {
    position: relative;
    display: grid;
    grid-template-columns: var(--_img-size) 1fr;
    gap: 2rem;
  }

  .timeline-img {
    width: var(--_img-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    border: var(--clr-background--light) 3px solid;
    box-shadow: 0px 2px 8px var(--clr-text--muted);
    background-color: var(--clr-background);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (prefers-color-scheme: dark) {
    .timeline-img {
      background-color: var(--clr-text--muted);
    }
  }

  .timeline-img * {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 95%;
    object-fit: contain;
  }

  .timeline-text {
    --_margin-to-line: 2rem;
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: var(--fs-200);

    background: var(--clr-primary--light);
    border-radius: 0.25rem;
    box-shadow: 0 3px 0 var(--clr-primary);
  }
  .timeline-text::before {
    content: "";
    position: absolute;
    display: block;
    left: -0.75rem;
    top: calc(var(--_img-size) / 2 - 1rem);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid var(--clr-primary--light);
  }

  .timeline-header {
    color: var(--clr-primary);
    font-size: var(--fs-300);

    font-weight: 700;
    margin-bottom: 0.5em;
    text-wrap: balance;
  }
  .timeline-content {
    font-weight: 300;
    line-height: 1.25;
  }
  .timeline-date {
    color: var(--clr-text--dark);
    font-size: var(--fs-300);
    text-align: right;
  }

  .timeline-animation > .timeline-date {
    opacity: 0;
    transform: translateX(3rem);
    transition:
      transform 0.5s cubic-bezier(0.45, -0.05, 0.67, 2),
      opacity 0.3s ease-out;
  }
  .timeline-animation > .timeline-img {
    opacity: 0;
    transform: scale(0.2) translateY(2rem);
    transition: transform 0.5s ease-out;
  }
  .timeline-animation > .timeline-text {
    opacity: 0;
    transform: translateX(-3rem) scaleY(0.6);
    transform-origin: 10% center;
    transition:
      transform 0.5s cubic-bezier(0.45, -0.05, 0.67, 2),
      opacity 0.3s ease-out;
  }

  .animated > .timeline-date {
    opacity: 1;
    transform: translateX(0);
  }
  .animated > .timeline-img {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  .animated > .timeline-text {
    opacity: 1;
    transform: translateX(0);
  }

  @media screen and (max-width: 800px) {
    .content::before {
      left: calc(var(--_timeline-padding-inline) + var(--_img-size) / 2);
    }
    .timeline-text {
      padding-top: 2rem;
    }
    .timeline-date {
      position: absolute;
      right: 0.75rem;
      z-index: 1;
      top: 0.5rem;
      line-height: 2rem;
      font-size: var(--fs-100);
    }
    .timeline-animation > .timeline-date {
      opacity: 0;
      transform: translateX(-3rem);
      transition:
        transform 0.5s cubic-bezier(0.45, -0.05, 0.67, 2),
        opacity 0.3s ease-out;
    }
    .animated > .timeline-date {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media screen and (min-width: 800px) {
    .timeline {
      --_img-size: 7rem;
      --_timeline-padding-inline: 1rem;
    }
    .timeline-item {
      grid-template-columns: 1fr var(--_img-size) 1fr;
      gap: 2rem;
    }
    .timeline-header {
      font-size: var(--fs-400);
    }
    .timeline-text {
      font-size: var(--fs-200);
    }

    .timeline-date {
      margin-top: 1.5rem;
    }
    .timeline-item:nth-of-type(even) .timeline-text {
      grid-row: 1 /2;
      grid-column: 1 / 2;
    }
    .timeline-item:nth-of-type(even) .timeline-date {
      grid-row: 1 /2;
      grid-column: 3 / 4;
      text-align: left;
    }
    .timeline-item:nth-of-type(even) .timeline-text::before {
      left: unset;
      right: -0.75rem;
      border-left: 1rem solid var(--clr-primary--light);
      border-right: none;
    }

    .timeline-animation:nth-of-type(even) > .timeline-date {
      transform: translateX(-3rem);
    }
    .timeline-animation:nth-of-type(even) > .timeline-text {
      transform: translateX(3rem) scaleY(0.6);
    }
    .animated.timeline-animation:nth-of-type(even) > .timeline-date {
      transform: translateX(0);
    }
    .animated.timeline-animation:nth-of-type(even) > .timeline-text {
      transform: translateX(0);
    }
  }
</style>

<script>
  const timelineItem = document.querySelectorAll(".timeline-animation");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animated");
          observer.unobserve(entry.target);
        }
      });
    },
    { rootMargin: "10% 0px -30% 0px" }
  );

  timelineItem.forEach((item) => {
    observer.observe(item);
  });
</script>
