---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Year Report 2024 Review">
  <h1>View All Charlieop's Blogs</h1>
  <h2>Technical Summary</h2>
  <p></p>
  <ul>
    <li>
      <a href="/blogs/valentine-for-a-week-2025"
        ><h6>Project Review: Valentine For A Week 2025</h6></a
      >
    </li>
    <li>
      <a href="/blogs/year-report-2024"
        ><h6>Project Review: Triple Uni 2024 Year Report</h6></a
      >
    </li>
  </ul>
</BlogLayout>

<style></style>

<script></script>
