---
import "../assets/css/fonts.css";
import "../assets/css/resets.css";
import "../assets/css/style.css";

const { title = "Charlie Chan" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <noscript>
    <style>
      .fade-in {
        opacity: 1 !important;
      }
      .timeline-animation > * {
        opacity: 1 !important;
        transform: none !important;
      }
    </style>
  </noscript>
</html>
